/* Write your code here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-card {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

.profile-container {
  text-align: center;
}

button {
  border: 0px;
  margin: 0px 20px;
  background-color: transparent;
}
